@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body,
.bg-space {
  background: url("src/assets/img/default.jpg") no-repeat center center fixed;
  background-image: -webkit-image-set(url("src/assets/img/default.jpg") 1x, url("src/assets/img/default@2x.jpg") 2x);
  background-image: image-set(url("src/assets/img/default.jpg") 1x, url("src/assets/img/default@2x.jpg") 2x);
}
