.loader {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 50%;

  background: linear-gradient(
    to right,
    #ffffff,
    #00ffe4 7.4913%,
    #ae00ff 18.7162%,
    #0009bc 30.1258%,
    #ae00ff 44.4352%,
    #ff9000 60.7056%,
    #ffffff 73.784%,
    #ae00ff 84.0526%,
    #ff9000 92.0393%,
    #fff
  );
  animation: animate 1.2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background: linear-gradient(
    to right,
    #ffffff,
    #00ffe4 7.4913%,
    #ae00ff 18.7162%,
    #0009bc 30.1258%,
    #ae00ff 44.4352%,
    #ff9000 60.7056%,
    #ffffff 73.784%,
    #ae00ff 84.0526%,
    #ff9000 92.0393%,
    #fff
  );
}

.loader span:nth-child(1) {
  filter: blur(5px);
}

.loader span:nth-child(2) {
  filter: blur(10px);
}

.loader span:nth-child(3) {
  filter: blur(25px);
}

.loader span:nth-child(4) {
  filter: blur(50px);
}

.loader:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #0e0715a6;
  border: solid white 10px;
  border-radius: 50%;
}
